body{
  background-color: #ee3f54;

}

h1, h2, h3, h4, h5, h6, button{
  font-family: 'Gabriela', serif;
}

#social-container{
  background-color: #1c3643;
}
 #logo-container .callout{
   background-color: #ee3f54;
   color: white;
   margin-bottom: 0;
 }

 #menu-container{
   background-color: #48a19d;
 }

 #menu-container li a{
   color: white;
   font-family: 'Gabriela', serif;
 }

 #submenu-container{
   border: 0;
 }

 #menu-container li a:hover,
 #submenu-container li a:hover{
   color: #f6e15f;
 }

 #submenu-container li a{
   background-color: #48a19d;
   color: white;
 }

#tickets-action .callout{
  background-color: #5e7eb7;
  color: white;
  margin-bottom: 0;
  font-family: 'Gabriela', serif;
}

#tickets-action .callout button{
  color: white;
  border: 1px solid white;
}
#lineup-container{
  padding: 1em 0;
}
#lineup-container,
#lineup-container .tabs-panel,
#lineup-container .tabs,
#lineup-container .tabs .tabs-title,
#lineup-container .tabs .tabs-title.is-active a{
  background-color: #9676af;
  color: white;
  border: 0;
  text-transform: uppercase;
  font-family:'Gabriela', serif;
}

.tabs-content{
  border: 0;
}

#lineup-container, .tabs, .tabs-title a{

  font-size: 18px;
  color: #a7fffb;
}

#lineup-container, .tabs, .tabs-title a:hover{
  background-color: #9676af;
  color: white;
}

.tabs-title{
  display: inline-block;
  float: none;
}

#lineup-container .orbit-container{
  margin-bottom: 1em;
}
#tickets-container{
  padding: 1em 0;
  background-color: #f6e15f;
  color: #161742;
}

.pricing-table{
  font-family: 'Ravi Prakash', cursive;
}
